{% extends 'base/seller_dashboard.html' %}
{% load poll_extras %}
{% block admin_title %}
	پنل مدیریت -داشبورد
{% endblock admin_title %}

{% block admin_content %}
        <div class="dashboard-header">
            <h2>داشبورد میزبان</h2>
            <div>
                <span>امروز: {% today_jalali %}</span>
            </div>
        </div>

        <!-- بخش داشبورد -->
        <div>
            <!-- کارت‌های آماری -->
            <div class="dashboard-cards">
                <div class="card">
                    <h3>رزروهای فعال</h3>
                    <div class="number">{{recent_booking_count}}</div>
                    <p>در ماه جاری</p>
                </div>

                <div class="card">
                    <h3>درآمد ماه</h3>
                    <div class="number">{{ daramad|three_digits_currency }}</div>
                    <p>کل درآمد در یک ماه اخیر</p>
                </div>

                <div class="card">
                    <h3>میانگین امتیاز</h3>
                    <div class="number">{{ avg_star|floatformat:1 }}<i class="fas fa-star" style="color: gold;"></i></div>
                    <p>از {{eghamatgah_comment}} نظر</p>
                </div>

                <div class="card">
                    <h3>اقامتگاه‌ها</h3>
                    <div class="number">{{eghamatgah_count}}</div>
                    <p>فعال</p>
                </div>
            </div>

            <!-- رزروهای اخیر -->
            <div class="recent-bookings">
                <h3>رزروهای اخیر</h3>

                <table>
                    <thead>
                        <tr>
                            <th>کد رزرو</th>
                            <th>اقامتگاه</th>
                            <th>مهمان</th>
                            <th>تاریخ ورود و خروج</th>
                            <th> مبلغ تمام شده</th>
                            <th>وضعیت رزرو</th>
                            <th>عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for booking in recent_booking %}
                        <tr>
                            <td>{{booking.id}}</td>
                            <td>{{ booking.eghamat.title}}</td>
                            <td>{{ booking.user.first_name}} {{ booking.user.last_name }}</td>
                            <td>ورود {{booking.check_in|to_jalali}} - خروج {{booking.check_out|to_jalali}}</td>
                            <td>{{booking.total_price|three_digits_currency}}</td>
                            <td><span class="status-confirmed">{{ booking.status}}</span></td>
                            <td><a href="#" class="btn btn-sm">مشاهده</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock admin_content %}