{% extends 'base/seller_dashboard.html' %}
{% load poll_extras %}
{% block admin_title %}
	مدیریت اقامتگاه ها
{% endblock %}

{% block admin_content %}
        <div class="dashboard-header">
            <h2>داشبورد میزبان</h2>
            <div>
                <span>امروز: {% today_jalali %}</span>
            </div>
        </div>

    <!-- بخش نظرات -->
        <div>
            <div class="dashboard-header">
                <h2>نظرات مهمانان</h2>
            </div>

            <div class="card">
                {% for comment in object_list %}
                <div style="display: flex; gap: 20px; padding: 15px 0; border-bottom: 1px solid #eee;">
                    <img src="{{ comment.user.avatar.url}}" alt="{{ comment.user.first_name}}" style="width: 60px; height: 60px; border-radius: 50%; object-fit: cover;">
                    <div style="flex: 1;">
                        <div style="display: flex; justify-content: space-between;">
                            <h4 style="margin: 0;">{{ comment.user.first_name}} {{ comment.user.last_name }}</h4>
                            <div>
                                امتیاز
                                {% if comment.star == '1' %}
                                    <i class="fas fa-star" style="color: gold;"></i>
                                {% elif comment.star == '2' %}
                                    <i class="fas fa-star" style="color: gold;"></i>
                                    <i class="fas fa-star" style="color: gold;"></i>
                                {% elif comment.star == '3' %}
                                    <i class="fas fa-star" style="color: gold;"></i>
                                    <i class="fas fa-star" style="color: gold;"></i>
                                    <i class="fas fa-star" style="color: gold;"></i>
                                {% elif comment.star == '4' %}
                                    <i class="fas fa-star" style="color: gold;"></i>
                                    <i class="fas fa-star" style="color: gold;"></i>
                                    <i class="fas fa-star" style="color: gold;"></i>
                                    <i class="fas fa-star" style="color: gold;"></i>
                                {% elif comment.star == '5' %}
                                    <i class="fas fa-star" style="color: gold;"></i>
                                    <i class="fas fa-star" style="color: gold;"></i>
                                    <i class="fas fa-star" style="color: gold;"></i>
                                    <i class="fas fa-star" style="color: gold;"></i>
                                    <i class="fas fa-star" style="color: gold;"></i>
                                {% endif %}

                            </div>
                        </div>
                        <p style="margin: 5px 0 0; color: #555;">{{ comment.text }}</p>
                        <p style="margin: 5px 0 0; font-size: 13px; color: #777;">برای {{ comment.eghamat.title}} {{ comment.eghamat.shahr }} - اقامت از
                            {{ comment.booking.check_in|to_jalali}} تا {{ comment.booking.check_out|to_jalali }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
{% endblock %}