{% extends 'base2.html' %}
{% load static %}
{% block page_title %}
	صفحه عضویت
{% endblock %}
{% block page_content %}
    <div class="auth-container">
    <div class="form-wrapper">
        <h2>ثبت‌نام کاربر جدید</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">نام کاربری</label>
                {{ register_form.username }}
            </div>
            <div class="form-group">
                <label for="email">ایمیل</label>
                {{ register_form.email }}
            </div>
            <div class="form-group">
                <label for="user_number">شماره تماس</label>
                {{ register_form.user_number }}
            </div>
            <div class="form-group">
                <label for="password">رمز عبور</label>
                {{ register_form.password }}
            </div>
            {% if register_form.errors %}
                <div class="error">{{ register_form.errors }}</div>
            {% endif %}
            <button type="submit" class="btn">ثبت‌نام</button>
        </form>
        <p>قبلاً ثبت‌نام کرده‌اید؟ <a href="{% url 'login_page' %}">ورود</a></p>
    </div>
</div>
{% endblock %}
