{% load static %}
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/fa.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jdate-flatpickr@1.0.7/dist/jdate-flatpickr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/calendar.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<!-- داده‌های تاریخ‌ها از ویو -->
{{ available_dates|json_script:"availableDates" }}
{{ reserved_dates|json_script:"reservedDates" }}







