<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>درباره ما</h3>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز </p>
        </div>
        <div class="box">
            <h3>مکان های شعبه</h3>
            <a href="#">هند</a>
            <a href="#">لندن</a>
            <a href="#">ژاپن</a>
            <a href="#">فرانسه</a>
        </div>
        <div class="box">
            <h3>لینک های سریع</h3>
            <a href="#">خانه</a>
            <a href="#">رزور</a>
            <a href="#">پکیج ها</a>
            <a href="#">سرویس ها</a>
            <a href="#">گالری عکس</a>
            <a href="#">نظرات</a>
            <a href="#">تماس با ما</a>
        </div>
        <div class="box">
            <h3>دنبال کردن در</h3>
            <a href="#">facebook</a>
            <a href="#">instagram</a>
            <a href="#">twitter</a>
            <a href="#">linkedin</a>
        </div>

    </div>

    <h1 class="credit"> طراحی شده توسط <span><a target="_blank" href="https://netcopy.ir"> نت کپی </a></span> | کلیه حقوق محفوظ است </h1>

</section>
